<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div th:replace="~{/user/home/header}"></div>

    <th:block th:replace="~{${views}}"></th:block>
    <div th:insert="~{@{/user/home/footer}}"></div>

   
</body>
</html>